*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-primary-color:#0c0c0c;
    --food-color:rgb(172, 160, 160);
    --text-primary-color:#f0f0f0;
--spacs-xs:4px;
--space-sm:8px;
--space-md:16px;
--space-lg:24px;
--space-xl:32px;
--space-2xl:40px;
--space-3xl:46px;
--button-border-color:rgb(235, 159, 18);
--border-radius-xs:4px;
--border-radius-sm:8px;
--border-radius-md:16px;
--border-radius-lg:24px;
--border-radius-xl:32px;
--border-radius-2xl:40px;
}
html,body{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}
section{
   
    width: 100%;
    height: 100%;
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
        background-color: rgb(20, 20, 72);
        gap:var(--space-md)

}
.btn
{
    padding: var(--space-sm) var(--space-md);
    cursor: pointer;
    border:none;
    
    border-radius: var(--border-radius-md);
    transition: all 0.3s ease ;
}
.btn:hover{
    transform: scale(1.1);
}

section .infos{
    display: flex;
   
justify-content: space-between;
}
.info{
     gap:6px;
    border: 1px solid var(--button-border-color);
    padding:var(--space-sm);
    border-radius: var(--border-radius-sm);
}
.board{
    height: 100vh;
    flex-grow: 1;
    border:1px solid var(--button-border-color);
    display: grid;
    grid-template-columns: repeat(auto-fill,34px);
    grid-template-rows: repeat(auto-fill,34px);
}
.block{
    width: 30px;
    height: 30px;
    
    border: 1px solid rgb(60, 58, 58);
    border-radius: 10px;
}
.snake-path{
    background-color: red;
}
.food{
    background-color: var(--food-color);

}
.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;

background-color: #35353587;
backdrop-filter: blur(4px);
display: flex;
align-items: center;
justify-content: center;

}
.modal .start-game{
    display: flex;
    flex-direction: column;
font: 300;
    align-items: center;
    justify-content: center;
gap: var(--space-lg);
    
}
